[Unit]
Description=shadowsocks service docker
After=network.target docker.service

[Service]
#Type=forking
#PIDFile=
#ExecStart=
#ExecStop=

#Type=oneshot
#RemainAfterExit=yes
#ExecStart=
#ExecStop=

Type=simple
ExecStart=/usr/local/bin/ssctl start
#ExecStop=

#Environment=
[Install]
WantedBy=multi-user.target
